html, body, #root {
  height: 100%;
  margin: 0;
  overflow: hidden;
  
}

:root {
  font-family: "Noto Sans KR", system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
}

.login-title, .home-brand, .event-brand {
  font-family: "Montserrat", system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
  font-weight: 500;
}

